<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal-administrador"></ion-back-button>
    </ion-buttons>
    <ion-title>Alarmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="alarma-card" *ngFor="let alarma of alarmas">
    <!-- Imagen -->
    <div class="img-box">
      <ion-img class="alarma-img" [src]="alarma.installation_image"></ion-img>
    </div>

    <div class="body">
      <div class="top">
        <div>
          <h2 class="title">{{ alarma.name }}</h2>
          <p class="sub">{{ alarma.location }}</p>
        </div>

        <ion-button
          class="btn-edit"
          size="small"
          fill="solid"
          (click)="irAEditar(alarma.id)"
        >
          Editar
        </ion-button>
      </div>

      <div class="meta">
        <span class="meta-label">Código:</span>
        <strong>{{ alarma.code }}</strong>
      </div>

      <div class="badges">
        <ion-badge [color]="colorActiva(alarma)">
          {{ estadoActiva(alarma) }}
        </ion-badge>

        <ion-badge [color]="colorHabilitada(alarma)">
          {{ estadoHabilitada(alarma) }}
        </ion-badge>
      </div>
    </div>
  </ion-card>

  <ion-item *ngIf="alarmas.length === 0" lines="none">
    <ion-label>No hay alarmas para mostrar</ion-label>
  </ion-item>
</ion-content>
