<ion-header class="ion-no-border header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal-administrador"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline" class="icono-perfil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo-general">
    <h2>PETICIONES DE ACTIVACIÓN</h2>
  </div>

  <ion-list lines="none" class="ion-padding lista-transparente">
    <ion-card
      *ngFor="let u of usuarios"
      class="peticion-card"
      (click)="verDetalle(u)"
    >
      <div
        class="barra-estado"
        [ngClass]="{
          'barra-pendiente': u.estado === 'PENDIENTE',
          'barra-aprobado': u.estado === 'APROBADO',
          'barra-rechazado': u.estado === 'RECHAZADO'
        }"
      ></div>

      <div class="contenido-card">
        <div class="info">
          <h3 class="nombre-solicitante">{{ u.nombre }}</h3>
          <p class="detalle-info">Teléfono: {{ u.telefono }}</p>
          <p class="detalle-info">Correo: {{ u.correo }}</p>
          <p class="detalle-info">Dirección: {{ u.direccion }}</p>
          <p class="detalle-info">Referencia: {{ u.referencia }}</p>
          <p class="detalle-info">Edad: {{ u.edad }}</p>
        </div>

        <ion-icon
          name="chevron-forward-outline"
          class="icono-flecha"
        ></ion-icon>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
